Package: com.a3tweaks.asphaleia2
Name: Asphaleia 2 (iOS 8)
Depends: firmware (>= 8.1), mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.2), applist, com.a3tweaks.flipswitch
Version: 1.0.2
Architecture: iphoneos-arm
Description: customizable locking system for apps & more
Maintainer: A3tweaks <asphaleia@a3tweaks.com>
Author: A3tweaks <asphaleia@a3tweaks.com>
Section: Tweaks
