<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>preventAppDeletion</string>
			<key>label</key>
			<string>App Arranging</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>preventPowerOff</string>
			<key>label</key>
			<string>Slide to Power Off</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>secureSwitcher</string>
			<key>label</key>
			<string>Multitasking</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>secureCC</string>
			<key>label</key>
			<string>Control Center</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>secureSpotlight</string>
			<key>label</key>
			<string>Spotlight</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Photos protection does not work everywhere, and may cause crashes, app instability, or may require you to reopen the screen you were in. Use at your own risk.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>securePhotos</string>
			<key>label</key>
			<string>Photos</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Advanced</string>
</dict>
</plist>
